html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='css/jstree.min.css')
    link(rel='stylesheet', href='css/dropzone.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      div.jumbotron
        h1 Simple File Dropper
        div#files
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/bootbox.min.js')
script(src='js/jstree.min.js')
script(src='js/dropzone.min.js')
script(src='js/main.js')
